{% extends 'base.html' %}
{% block content %}
<html>
<body>
<form action="/upload_file/" method="post" enctype="multipart/form-data" name="form1" id="form1" >
  {% csrf_token %}

<div class="input-group mb-3">
  <table align="center" border="3" >
      <tr>
          <th>Big_name</th>
          <th>excel_name</th>
      </tr>
    <tr>
          <td> Company heading</td>
          <td><select name="select" class="form-control"  id="select">
                              <option>Company</option>
                              <option>company</option>
                              <option>cmpny</option>
    <!--                          <option>Stationary</option>-->
          </select></td>
    </tr>
    <tr>
          <td>First Name</td>
           <td><select name="select1" class="form-control"  id="select1">
                              <option>First Name</option>
                              <option>f_name</option>
                              <option>First_name</option>
    <!--                          <option>Stationary</option>-->
          </select></td>
    </tr>
      <tr>
          <td>Last Name</td>
           <td><select name="select2" class="form-control"  id="select2">
                              <option>Last Name</option>
                              <option>l_name</option>
                              <option>Last_name</option>
                              <option>last_name</option>
          </select></td>
    </tr>
      <tr>
          <td>Phone</td>
           <td><select name="select3" class="form-control"  id="select3">
                              <option>Phone</option>
                              <option>phone_num</option>
                              <option>Phone Number</option>
                              <option>phone</option>
          </select></td>
    </tr>
       <tr>
          <td>Email</td>
           <td><select name="select4" class="form-control"  id="select4">
                              <option>Email</option>
                              <option>email</option>
                              <option>Email Id</option>
                              <option>mail</option>
          </select></td>
    </tr>
       <tr>
          <td>Notes</td>
           <td><select name="select5" class="form-control"  id="select5">
                              <option>Notes</option>
                              <option>notes</option>
                              <option>note</option>
                              <option>Note</option>
          </select></td>
    </tr>


    <tr>
      <td> <input type="file" name="filefield" class="form-control" id="filefield"></td>

      <td> <input type="submit" class="btn btn-info" id="button" name="button" value="Upload" ></td>
    </tr>
  </table>
</div>
</form>
</body>
</html>
{% endblock %}
